$Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
$Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
$Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
$Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
$Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
     background: $Very-Dark-Blue-Dark-Mode-Background;
    nav {
        width: auto;
        background: $Dark-Blue-Dark-Mode-Elements;
        padding: 15px 50px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 3px 9px $Very-Dark-Blue-Dark-Mode-Background;
        position: relative;
        z-index: 1;
        .theme--control {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        p {
            font-weight: 700;
        }
    }
    main {
        & * {
            font-size: 14px;
        }
        padding: 30px 50px;
        .search--control {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &>div {
                border-radius: 10px;
                background-color: $Dark-Blue-Dark-Mode-Elements;
                display: flex;
                align-items: center;
                padding: 10px 20px;
            }
            .search--bar {
                gap: 20px;
                width: 40%;
                input {
                    width: 60%;
                    border: none;
                    background: none;
                    color:lightgray;
                    &::placeholder {
                        color: white;
                    }
                    &:focus {
                        border: none;
                        color: white;
                        outline: none;
                    }
                }
            }
            .choose--category {
                gap: 40px;
                position: relative;
                &>p:hover,&>span:hover{
                    cursor: pointer;
                }
                .regions {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 50px;
                    background-color: $Dark-Blue-Dark-Mode-Elements;
                    width: 100%;
                    padding: 10px 0px;
                    border-radius: 10px;
                    p {
                        padding: 5px 20px;
                        margin-bottom: 3px;
                        &:hover {
                            cursor: pointer;
                            border-bottom: 1px solid $Very-Light-Gray-Light-Mode-Background;
                        }
                    }
                }
            }
        }
        .country--list {
            overflow-x: scroll;
            // border: 1px solid;
            margin-top: 40px;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows:auto;
            justify-content: space-between;
            gap:50px;
            padding: 20px;
            &::-webkit-scrollbar{
                visibility: hidden;
            }
            .country--container{
                width: 100%;
                border-radius: 7px;
                background-color: $Dark-Blue-Dark-Mode-Elements;
                border: 1px solid transparent;
                &:hover {
                    cursor: pointer;
                    border-color:white;
                }
                img {
                    height: 14vw;
                    min-height: 140px;
                    width: 100%;
                    min-width: 200px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    //object-fit: cover;
                }
                .country--desc {
                    padding: 20px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    .country--name {
                        font-weight: bold;
                        margin-bottom: 1rem;

                    }
                    .population, .region, .capital {
                        font-size: 0.8rem;
                        font-weight: bold;
                        line-height: 1.5rem;
                        span {
                            font-size: 0.8rem;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .country--preview {
            // & * {font-size: 16px;}
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .back {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap:10px;
                padding: 5px 25px;
                background-color: $Dark-Blue-Dark-Mode-Elements;
                border-radius: 5px;
                &:hover {
                    cursor: pointer;
                }
            }
            .preview--pane {
                display: grid;
                width: 100%;
                grid-template-columns: 1fr 1fr;
                gap: 60px;
                margin-top: 50px;
                justify-content: space-between;
                .flag{
                    max-width: 500px;
                    img {
                        width: 100%;
                        max-height: 375px;
                    }
                }
                .country--info {
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h1 {
                        font-size: 2rem;
                        margin-bottom: 20px;
                    }
                    .desc--pane {
                        display: grid;
                        grid-template-columns: 2fr 3fr;
                        gap: 30px;
                        font-weight: bold;
                        margin-bottom: 40px;
                        p {
                            line-height: 1.5rem;
                        }
                        span {
                            font-weight: normal;
                        }
                    }
                    .border--countries {
                        .border--list {
                            display: inline;
                            margin-right: 10px;
                        }
                        button {
                            background: $Dark-Blue-Dark-Mode-Elements;
                            padding: 5px 20px;
                            border: none;
                            margin-right: 10px;
                            border-radius: 5px;
                            color: $White;
                            font-size: 0.8rem;
                            margin-bottom: 10px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    
                }
            }
        }
        
    }

}
.kind {
    font-variation-settings: 'FILL' 0
}
.dark--nav {
    color: $Dark-Blue-Dark-Mode-Elements !important;
    background: $White !important;
    box-shadow: 0px 0px 15px 1px lightgray;
}
.dark--body {
    background: $Very-Light-Gray-Light-Mode-Background !important;
}
.dark--search {
    background: $White !important;
    box-shadow: 0px 0px 15px 1px lightgray;
    color: $Dark-Blue-Dark-Mode-Elements;
    input {
        background: white;
        color:$Dark-Blue-Dark-Mode-Elements;
        &::placeholder {
            color:$Dark-Blue-Dark-Mode-Elements !important;
        }
        &:focus {
            color:$Dark-Blue-Dark-Mode-Elements !important;
        }
    }
}

